.nav-main {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: white;
    box-shadow: 0 0 13px rgba(2, 6, 241, 0.2);
}

.logo img {
    height: 210px;
    display: block;
    margin-left: -250px; 
    margin-right: -250px;
    margin-top: -57px;
}

.busqueda-container {
    flex: 1;
    text-align: center;
}

.busqueda-container input {
    width: 60%;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 1.7px solid #002060;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: #003087;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 1.3rem;
}

.menu a:hover {
    transform: scale(1.1);
    color: gray;
}
