.nav-main {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: white;
    box-shadow: 0 0 13px rgba(2, 6, 241, 0.2);
}

.logo img {
    height: 210px;
    display: block;
    margin-left: -250px;
    margin-right: -250px;
    margin-top: -57px;
}

.busqueda-container {
    flex: 1;
    text-align: center;
}

.busqueda-container input {
    width: 60%;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 1.7px solid #002060;
}

.menu {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.menu a {
    text-decoration: none;
    transition: color 0.3s;
    font-size: 1.3rem;
    color: #002060;
    font-weight: bold;
}

.menu a:hover {
    color: gray;
    /* Cambiar el color al pasar el mouse */
}

.menu img {
    height: 40px;
    width: 40px;
    margin-right: 5px;
}


/* --- Responsividad --- */
@media (max-width: 768px) {
    .nav-main {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .logo img {
        height: 150px;
        margin: 0;
    }

    .busqueda-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        margin-bottom: 10px;
    }

    .busqueda-container input {
        width: 70%;
        font-size: 14px;
        padding: 6px 10px;
        border-radius: 6px;
        margin-right: 10px;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    .menu a {
        font-size: 1.1rem;
    }

    .menu img {
        height: 30px;
        width: 30px;
        margin-right: 5px;
    }
}

@media (max-width: 480px) {
    .nav-main {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 8px;
        width: 100%;
    }

    .logo img {
        height: 80px;
        margin-left: -70px;
        margin-right: -70px;
        margin-top: -5px;
    }

    .busqueda-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;    
    }

    .busqueda-container input {
        font-size: 14px;
        width: 80%;
        border-radius: 4px;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu img {
        height: 24px;
        width: 24px;
        margin-right: 5px;
    }

    .menu a {
        font-size: 1rem;
        color: #002060;
        font-weight: bold;
    }

    .btn-cerrarsesion {
        font-size: 1rem;
    }
}