header {
    background: #003087;
    padding: 20px;
    text-align: center;
    margin-top: 45px;
}

label {
    display: block;
    color: black;
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
    color: white;
}


.section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

.hero {
    text-align: center;
    padding: 50px 20px;
    color: black;
    background: white;
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: 15px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.hero a {
    background: #25d366;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background 0.3s;
}

.hero a:hover {
    background: #1e9e4a;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
    text-align: center;
    background-color: #f2f4f7;
}

.feature {
    max-width: 300px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.feature img {
    width: 100px;
    margin-bottom: 20px;
}

.cta {
    text-align: center;
    padding: 50px 20px;
    background: #f2f4f7;
    color: black;
}

.cta a {
    background: #25d366;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background 0.3s;
}

.cta a:hover {
    background: #1e9e4a;
}

.social-links {
    padding: 50px 20px;
    justify-content: space-between;
    text-align: center;
    background-color: #f2f4f7;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.5em;
}


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #003087;
    color: white;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
}

.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.4em;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #25d366;
}

.testimonials {
    text-align: center;
    padding: 50px 20px;
    background: #f2f4f7;
}

.testimonial {
    margin: 20px auto;
    max-width: 600px;
    font-style: italic;
    color: #555;
}

.testimonial h4 {
    margin-top: 10px;
    font-weight: bold;
    color: #003087;
}

.subscribe {
    text-align: center;
    padding: 50px 20px;
    color: #003087;
    background-color: white;
}

.subscribe input {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 250px;
    text-align: center;
}

.subscribe button {
    padding: 10px 20px;
    font-size: 1em;
    background: #25d366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.subscribe button:hover {
    background: #1e9e4a;
}

.whatsapp-float {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 2000;
    cursor: pointer;
    transition: transform 0.2s;
}

.whatsapp-float:hover {
    transform: scale(1.1);
}

.carousel {
    position: relative;
    padding: 50px 20px;
    overflow: hidden;
    background: white;
}

.carousel-item {
    display: none;
    text-align: center;
}

.carousel-item img {
    width: 100%;
    max-width: 400px;
    /* Ajusta el ancho máximo */
    max-height: 300px;
    /* Ajusta la altura máxima */
    height: auto;
    /* Mantiene la proporción de la imagen */
    margin: 0 auto;
    /* Centra la imagen */
    display: block;
    object-fit: contain;
    /* Ajusta el contenido dentro del área definida */
}


.carousel-item.active {
    display: block;
    animation: fadeIn 1s ease-in-out;
}

.stats {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
    background: white;
    text-align: center;
}

.stat h3 {
    font-size: 2.5em;
    color: #003087;
}



.show {
    display: block;
}

#chatbot-popup {
    display: none;
    position: fixed;
    bottom: 110px;
    right: 30px;
    background: #25d366;
    color: white;
    padding: 18px 22px;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.18);
    z-index: 9999;
    font-family: sans-serif;
}

#chatbot-popup a {
    color: #002060;
    text-decoration: underline;
    font-weight: bold;
}

#cerrar-popup {
    position: absolute;
    top: 6px;
    right: 12px;
    cursor: pointer;
    font-size: 25px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@media (max-width: 768px) {
    header {
        padding: 30px;
        margin-top: 45px;
    }

    header h1 {
        font-size: 2.6em;
    }

    .hero {
        padding: 30px 20px;
    }

    .hero h2 {
        font-size: 2.8em;
    }

    .hero p {
        font-size: 1.4em;
    }

    .hero a {
        font-size: 1.3em;
        padding: 15px 30px;
    }

    .features {
        flex-direction: column;
        padding: 30px 20px;
    }


    .feature {
        margin-bottom: 30px;
        display: block;
        margin-left: 210px;
    }


    .cta {
        padding: 30px 20px;
    }

    .social-links a {
        font-size: 1.6em;
    }

    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        text-align: center;
        z-index: 1000;
        font-size: 1.2em;
        padding: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar a {
        margin: 0 15px;
        text-decoration: none;
        font-size: 1.2em;
    }


    .testimonials {
        padding: 30px 20px;
    }

    .subscribe input {
        width: 100%;
        margin-bottom: 20px;
        font-size: 1.3em;
    }

    .subscribe button {
        width: 100%;
        font-size: 1.3em;
    }

    .stats {
        flex-direction: column;
        padding: 30px 15px;
    }

    .stat h3 {
        font-size: 2.5em;
    }

    #chatbot-popup {
        bottom: 50px;
        right: 20px;
        padding: 12px 16px;
        font-size: 0.9em;
        width: 250px;
    }

    #cerrar-popup {
        font-size: 20px;
    }
}


@media (max-width: 480px) {
    header h1 {
        font-size: 2em;
    }

    .hero h2 {
        font-size: 2em;
    }

    .hero p {
        font-size: 1.2em;
    }

    .hero a {
        font-size: 1.2em;
        padding: 12px 25px;
    }

    .features {
        padding: 20px 10px;
    }

    .feature {
        margin-bottom: 30px;
        margin-left: 50px;
        display: block;
    }

    .cta {
        padding: 20px 10px;
        margin-bottom: 30px;
    }

    .social-links a {
        font-size: 1.5em;
    }

    .navbar {
        flex-wrap: wrap;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        z-index: 1000;
        font-size: 1em;
        padding: 5px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar a {
        margin: 5px 10px;
        font-size: 1em;
    }

    .testimonials {
        padding: 20px 10px;
    }

    .subscribe input {
        font-size: 1.2em;
    }

    .subscribe button {
        font-size: 1.2em;
    }

    .stats {
        padding: 20px 10px;
    }

    .stat h3 {
        font-size: 2em;
    }

    #chatbot-popup {
        bottom: 110px;
        right: 10px;
        padding: 10px 14px;
        font-size: 0.8em;
        width: 200px;
    }

    #cerrar-popup {
        font-size: 18px;
    }
}