#menu-toggle {
    cursor: pointer;
}
.menu-list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 2rem;
    display: none;
    animation: fadeInDown 0.3s ease-out forwards;
    width: 100%;
    z-index: 1000;
}

.menu-list.active {
    display: flex;
}

.menu-list li {
    list-style: none;
}

.menu-list a {
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.btn-cerrarsesion {
    background: none;
    border: none;
    color: #002060;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.btn-cerrarsesion:hover {
    color: gray;
}
